alembic==1.13.2
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.9.0
attrs==24.2.0
Authlib==1.3.2
bcrypt==4.1.2
beautifulsoup4==4.12.3
blinker==1.7.0
bs4==0.0.2
build==1.2.2
CacheControl==0.14.0
cachetools==5.5.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
cryptography==43.0.1
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
dulwich==0.21.7
email_validator==2.2.0
fastjsonschema==2.20.0
filelock==3.16.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-Dance==7.1.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
google==3.0.0
google-auth==2.40.3
google-genai==1.30.0
greenlet==3.0.3
gunicorn==22.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.7
importlib_metadata==8.5.0
installer==0.7.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
Jinja2==3.1.3
jiter==0.10.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==24.3.1
lxml==5.3.0
Mako==1.3.5
MarkupSafe==2.1.5
more-itertools==10.5.0
msgpack==1.1.0
oauthlib==3.2.2
packaging==24.1
pexpect==4.9.0
pkginfo==1.11.1
platformdirs==4.3.2
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
psycopg==3.2.1
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pyproject_hooks==1.1.0
python-dotenv==1.0.1
pytz==2024.1
pywin32-ctypes==0.2.3
rapidfuzz==3.9.7
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rpds-py==0.20.0
rsa==4.9.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.29
stripe==10.12.0
tenacity==9.1.2
tomlkit==0.13.2
tqdm==4.67.1
trove-classifiers==2024.9.12
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2024.1
urllib3==2.2.3
URLObject==2.4.3
virtualenv==20.26.4
websockets==15.0.1
Werkzeug==3.0.2
WTForms==3.1.2
zipp==3.20.1
